<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.wello.health.dao.FoodDAO">

    <select id="getFood" parameterType="long" resultType="top.wello.health.dao.FoodDTO" >
        SELECT * FROM food where id = #{id}
    </select>

    <select id="getFoodsByType" parameterType="long" resultType="top.wello.health.dao.FoodDTO">
        SELECT * FROM food where type = #{type}
    </select>

    <select id="getAllFoods" resultType="top.wello.health.dao.FoodDTO">
        SELECT * FROM food
    </select>

    <insert id="addFood">
        INSERT IGNORE INTO food(id, heat, isRecommend, type, protein, fat, urlAddress, weight, name, picurl, foodleveltext)
        values (#{id}, #{heat}, #{isRecommend}, #{type}, #{protein}, #{fat}, #{urlAddress}, #{weight}, #{name}, #{picurl}, #{foodleveltext})
    </insert>

    <delete id="deleteFood" parameterType="top.wello.health.dao.FoodDTO">
        DELETE FROM food WHERE id = #{id}
    </delete>

    <delete id="deleteFoodByType" parameterType="long">
        DELETE FROM food WHERE type = #{type}
    </delete>

    <select id="getFoodDir" parameterType="long" resultType="top.wello.health.dao.FoodDirDTO" >
        SELECT * FROM food_dir where id = #{id}
    </select>

    <select id="getAllFoodDir" resultType="top.wello.health.dao.FoodDirDTO">
        SELECT * FROM food_dir
    </select>

    <insert id="addFoodDir">
        INSERT IGNORE INTO food_dir(id, imgUrl, text)
        values (#{id}, #{imgUrl}, #{text})
    </insert>

    <delete id="deleteFoodDir" parameterType="top.wello.health.dao.FoodDirDTO">
        DELETE FROM food_dir WHERE id = #{id}
    </delete>

</mapper>