<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.wello.health.dao.UserDAO">

    <!--<resultMap id="UserResultMap" type="top.wello.health.dao.UserDAO" >-->
        <!--<id column="id" property="id" jdbcType="BIGINT" />-->
        <!--<result column="wechat_open_id" property="wechatOpenId" jdbcType="VARCHAR" />-->
        <!--<result column="wechat_union_id" property="wechatUnionId" jdbcType="VARCHAR" />-->
        <!--<result column="wechat_name" property="wechatName" jdbcType="VARCHAR" />-->
        <!--<result column="wechat_avatar" property="wechatAvatar" jdbcType="VARCHAR" />-->
        <!--<result column="wechat_gender" property="wechatGender" jdbcType="INT" />-->
        <!--<result column="session" property="session" jdbcType="VARCHAR" />-->
        <!--<result column="birth" property="birth" jdbcType="DATE" />-->
        <!--<result column="height" property="height" jdbcType="INT" />-->
        <!--<result column="weight" property="weight" jdbcType="INT" />-->
        <!--<result column="sport" property="sport" jdbcType="INT" />-->
        <!--<result column="heat_day" property="heatDay" jdbcType="INT" />-->
    <!--</resultMap>-->

    <select id="getUserById" parameterType="long" resultType="top.wello.health.dao.UserDTO" >
        SELECT * FROM user where id = #{id}
    </select>

    <select id="getUserByWechatOpenId" parameterType="String" resultType="top.wello.health.dao.UserDTO">
        SELECT * FROM user where wechat_open_id = #{id}
    </select>

    <select id="getUserByWechatSession" parameterType="String" resultType="top.wello.health.dao.UserDTO">
        SELECT * FROM user where wechat_session = #{wechatSession}
    </select>

    <select id="getUserBySession" parameterType="String" resultType="top.wello.health.dao.UserDTO">
        SELECT * FROM user where session = #{session}
    </select>
    
    <insert id="addUser">
        INSERT IGNORE INTO user(id, wechat_open_id, wechat_union_id, wechat_name, wechat_avatar, wechat_gender, session, birth, height, weight, sport, heat_day, wechat_session)
        values (#{id}, #{wechatOpenId}, #{wechatUnionId}, #{wechatName}, #{wechatAvatar}, #{wechatGender}, #{session}, #{birth}, #{height}, #{weight}, #{sport}, #{heatDay}, #{wechatSession})
    </insert>

    <update id="updateUser">
        UPDATE user SET
        wechat_name = #{wechatName},
        wechat_avatar = #{wechatAvatar},
        wechat_gender = #{wechatGender},
        session = #{session},
        birth = #{birth},
        height = #{height},
        weight = #{weight},
        sport = #{sport},
        heat_day = #{heatDay},
        wechat_session = #{wechatSession}
        WHERE id = #{id}
    </update>

    <delete id="deleteUser" parameterType="long">
        DELETE FROM user WHERE id = #{id}
    </delete>

    <select id="getAllUsers" resultType="top.wello.health.dao.UserDTO">
        SELECT * FROM user
    </select>
</mapper>
